.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px;

min-height:calc(100vh - 90px);

background:#05070f;

}

.left{

width:50%;

}

.badge{

display:inline-block;

padding:12px 18px;

border-radius:30px;

background:#10151f;

border:1px solid #1f3f68;

color:#73d9ff;

margin-bottom:35px;

}

.left h1{

font-size:78px;

line-height:1.05;

font-weight:800;

margin-bottom:25px;

}

.left h1 span{

color:#2c98ff;

}

.left p{

font-size:21px;

line-height:38px;

color:#9da7b6;

width:90%;

margin-bottom:45px;

}

.buttons{

display:flex;

gap:20px;

}

.primary{

background:linear-gradient(90deg,#3d64ff,#1fd0ff);

padding:18px 34px;

border:none;

border-radius:15px;

font-size:18px;

color:white;

cursor:pointer;

}

.secondary{

background:transparent;

border:1px solid rgba(255,255,255,.15);

padding:18px 34px;

border-radius:15px;

font-size:18px;

color:white;

cursor:pointer;

}

.right{

display:flex;

justify-content:center;

align-items:center;

width:45%;

}

.voiceCircle{

width:500px;

height:500px;

border-radius:50%;

border:2px solid rgba(0,166,255,.25);

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

.voiceCircle::before{

content:"";

position:absolute;

width:370px;

height:370px;

border-radius:50%;

border:2px solid rgba(72,164,255,.25);

}

.innerCircle{

width:250px;

height:250px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:radial-gradient(circle,#2f66ff,#091528);

box-shadow:0 0 80px rgba(44,146,255,.5);

}

.bars{

display:flex;

gap:10px;

}

.bars span{

width:8px;

height:40px;

border-radius:20px;

background:#2ecfff;

animation:wave 1s infinite ease-in-out;

}

.bars span:nth-child(2){height:70px;}
.bars span:nth-child(3){height:100px;}
.bars span:nth-child(4){height:70px;}
.bars span:nth-child(5){height:40px;}

@keyframes wave{

0%{
transform:scaleY(.5);
}

50%{
transform:scaleY(1);
}

100%{
transform:scaleY(.5);
}

}